body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container.dark-mode {
    background-color: #444;
    color: #fff;
}

.mode-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.mode-switch button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mode-switch button.active {
    background-color: #4CAF50;
    color: white;
}

.mode-switch button#night-mode {
    background-color: #333;
    color: white;
}

.mode-switch button#night-mode.active {
    background-color: #FFD700;
    color: #333;
}

.mode-switch button#day-mode {
    background-color: #FFA500;
    color: white;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.certifications h2 {
    width: 100%;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: text-shadow 0.3s ease;
}

.certifications h2.dark-mode {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

.certifications img {
    max-width: 200px;
    max-height: 150px;
    margin: 10px;
}

.social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.social-links a.dark-mode {
    color: #fff;
}

.social-links a:hover {
    color: white;
    background: linear-gradient(45deg, blue, violet);
}

.social-links a.mail-button {
    background-color: #4CAF50;
    color: white;
}

.social-links a.mail-button:hover {
    background-color: #45a049;
}

.social-links a.phone-button {
    background-color: #007BFF;
    color: white;
}

.social-links a.phone-button:hover {
    background-color: #0056b3;
}
